form {
    /* background-image: url("/assets/images/photos/TB5A2801.jpg"); */
    /* background-size: cover; */
    overflow: scroll;
}

#main-contact-container {
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 3%;
    margin: 3% 0 10%;
    
}

#frmbtn {
    border: none;
    width: 100%;
    background-color: #b53b3e;
    font-weight: bolder;
}

#filmSubTitle {
    margin-bottom: 2%;
}

.submit-info {
    line-height: 20px;
}

#sales-inquiries, #acquisitions {
    margin-bottom: 10%;
    line-height: 10px;
}

#to-submit {
    margin-bottom: 3%;
    text-align: justify;
}